body {
	width: 960px;
	margin: 0 auto;
	border: 1px double red;
}

.header {
	margin: 10px 10px;
}

.header-logo {
	float: left;
}

.logo {
	width: 50px;
	height: 50px; 
}

.logo-text {
	margin: 20px 5px;
	font-size: 20;
	font-color: blue;
	font-weight: bold;
}

.navigator {
	float: right;
}

.border-right {
	border-right: 1px solid #000;
}

.navigator ul li {
	float: left;
	margin: 5px 0;
	padding: 0 10px;
	list-style: none;
}

.navigator ul li a,
.navigator ul li a:visited,
.navigator ul li a:hover {
	text-decoration: none;
}
	
.navigator ul li a:hover {
	background-color: yellow;
	color: red;
}

.slider {
	clear: both;
	overflow: hidden;
	padding: 20px 0;
}

.imax {
	border: 5px double #FFCC00;
}

.sidebar {
	float: left;
	border: 5px solid black;
	margin-left: 15px;
}

.post_list {
	float: right;
	background-color: #CCCCCC;
	margin: 10px;
	padding: 10px 10px;
}

.post {
	background-color: #CCFFCC;
	width: 600px;
}

.post_thumbnail {
	float: left;
}

.post_content {
	float: left;
}

.paging {
	clear: both;
}

.footer {
	clear: both;
}
