body {
	padding-top: 50px;
}

.header {
	margin: 30px 10px;
}

.header-logo {
	float: left;
}

.logo {
	width: 50px;
	height: 50px; 
}

.logo-text {
	margin: 20px 5px;
	font-size: 20;
	font-color: blue;
	font-weight: bold;
}

.navigator {
	float: right;
}

.border-right {
	border-right: 1px solid #000;
}

.navigator ul li {
	float: left;
	margin: 5px 0;
	padding: 0 10px;
	list-style: none;
}

.navigator ul li a,
.navigator ul li a:visited,
.navigator ul li a:hover {
	text-decoration: none;
}
	
.navigator ul li a:hover {
	background-color: yellow;
	color: red;
}

.slider {
	background-color: #E6E6FA;
	margin: 20px auto;
}

.sidebar {
	float: left;
	border: 5px solid black;
}

.post-list {
	float: right;
	padding: 10px 10px;
}

.main-content-background {
	background-color: #CCCCCC;
}

.post {
	background-color: #CCFFCC;
	width: 600px;
}

.post-thumbnail {
	float: left;
}

.post-content {
	float: left;
}

.paging {
	clear: both;
}

.footer {
	clear: both;
}

.footer-widget {
	background-color: #555;
	margin-top: 10px;
}

.vertical-ul {
	list-style: none;
}

.horizontal-ul {
	list-style: none;
}

.horizontal-ul li {
	float: left;
	margin: 0 5px;
}

.copyright {
	background-color: #FFC0CB;
	text-align: center;
	margin: 0 auto;
}

.wrapper {
	padding: 10px;
}

.white-font {
	color: #FFF;
}