body {
	padding-top: 50px;
	color: #778899
}

h1,h2,h3,h4,h5,h6 {
	color: #778899;
}

a:link,a:visited {
	text-decoration: none;
	color: #778899;
}

a span {
	/*color: #000080;*/
}

a span:hover {
	/*color: white;*/
}

.header {
	margin: 30px 10px;
}

.header-logo {
	/*float: left;*/
}

.logo {
	width: 50px;
	height: 50px; 
}

.logo-text {
	margin: 20px 5px;
	font-size: 20;
	font-weight: bold;
	color: #097999;
}

.navigator {
	height: 36px;
	line-height: 20px;
	background: #aaced1;
}

.border-right {
	border-right: 1px solid #fff;
}

.navigator ul {
	padding: 0
}

.navigator ul li {
	display: inline-block;
	margin: 8px 0 0;
	padding: 0 10px;
	list-style: none;
}
.navigator ul li a {
	display: block;
	width: 80px;
	text-align: center;
}

.navigator ul li a:link,.navigator ul li a:visited {
	background-color: none;
	color: #fff;
}

.navigator ul li a:hover {
	/*background-color: #000080;*/
	font-size: 1.1em;
	color: #5F9EA0;
}

.slider {
	background-color: #EEE;
	margin: 20px auto;
	border-radius: 10px;
}

.sidebar {
	float: left;
	border: 1px solid #E6E6FA;
	padding: 5px;
	border-radius: 10px;
	background-color: #EEE;
}

.sidebar ul {
	list-style-type: square;
	margin-left: 0;
}

.sidebar ul li a:hover {
	text-decoration: none;
	background-color: #000080;
	color: white;
}
.calendar_wrap table {
	width: 100%;
}

.post-list {
	float: right;
	padding: 10px 10px;
	background-color: #EEE;
	border-radius: 10px;
}

.main-content-background {
	background-color: #EEE;
	border-radius: 10px;
}

.post {
	background-color: #CCFFCC;
	width: 600px;
}

.post-thumbnail {
	float: left;
	margin: 5px 5px 0 5px;
}

.post-content {
	float: left;
}

.post-content p a {
	float: right;
	margin-right: 5px;
	margin-top: 0;
	margin-bottom: 5px;
}

.paging {
	clear: both;
}

.footer {
	clear: both;
}

.footer-widget {
	background-color: #555;
	margin-top: 10px;
}

.vertical-ul {
	list-style: none;
}

.horizontal-ul {
	list-style: none;
}

.horizontal-ul li {
	float: left;
	margin: 0 5px;
}

.copyright {
	background-color: #FFC0CB;
	text-align: center;
	margin: 0 auto;
}

.wrapper {
	padding: 10px;
}

.white-font {
	color: #FFF;
}

.content-page {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 0;
}

.content-page .wrapper {
	margin-left: 20px;
}

.content-single {
	float: left;
	margin: 20px auto;
}

.content-single .wrapper {
	margin-left: 20px;
}

.bread {
	padding: 10px;
}

.clearboth {
	clear: both;
}

.current{color: #097999}